.page1 {
  padding: 30px 0;
  @include full-background('home-bg.jpg');
  height: 100%;
  h2 {
    text-align: center;
    font-size: 36px;
    margin: 70px 0 30px;
    &:before, &:after {
      content: " ";
      border-bottom: 1px solid white;
      line-height: 0.1em;
      margin: 10px 10px 7px;
      display: inline-block;
      width: 36%;
    }
  }
  .steps {
    list-style: none;
    li {
      display: inline-block;
      width: 300px;
      margin-left: 10px;
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      .circle {
        font-size: 78px;
        line-height: 80px;
        color: $purple;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 65px;
        text-align: center;
        width: 80px;
        margin: 0 auto 30px;
      }
    }
  } //.steps
  .btn-row {
    margin: 50px 0;
    .action {
      display: inline-block;
      background-color: $purple;
      color: white;
      opacity: 0.8;
      text-align: center;
      padding: 20px;
      font-size: 48px;
      line-height: 50px;
      font-weight: 100;
      border-radius: 10px;
      font-family: $lightFont;
      margin-left: 120px;
      width: 380px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        text-decoration: none;
        color: $purple;
        background-color: white;
      }
    }
  }
} // .page1
