.page3 {
  padding: 30px;
  @include full-background('scene-bg.jpg');
  height: 100%;
  h2 {
    text-align: center;
    font-size: 36px;
    margin: 70px 0 30px;
    &:before, &:after {
      content: " ";
      border-bottom: 1px solid white;
      line-height: 0.1em;
      margin: 10px 10px 7px;
      display: inline-block;
      width: 36%;
    }
  }
  .webcam-box {
    margin: 100px auto;
    position: relative;
    z-index: 1;
    .hidden {
      display: none;
    }
    .preload {
      text-align: center;
      margin: 180px 0;
      position: absolute;
      z-index: 150;
      top: 0;
      h3 {
        font-size: 32px;
        font-weight: 100;
      }
    }
    [class^="overlay"] {
      position: absolute;
      z-index: 500;
      background-color: rgba(0, 0, 0, 0.6);
      height: 540px;
      width: 860px;
      text-align: center;
      top: 0;
      padding: 50px;
      font-size: 24px;
      line-height: 32px;
      left: 0;
    }
    .overlay-start {
      
    }
    .overlay-question {
      h3.question-title {
        font-family: $lightFont;
        font-size: 36px;
        font-weight: 100;
        text-align: left;
      }
      p.text {
        font-size: 60px;
        line-height: 60px;
        font-family: $primaryFont;
        margin: 40px 0 0;
        text-align: left;
      }
      span.counter {
        display: block;
        font-size: 100px;
        color: $purple;
        line-height: 100px;
      }
    }
    .overlay-complete {
      p {
        margin: 10px 0;
      }
      a {
        color: $purple;
      }
      .text-field {
        border: 2px solid $gray;
        padding: 2px;
        input[type="email"] {
          font-family: $lightFont;
          font-weight: 100;
          color: $gray;
          background-color: transparent;
          border: none;
          font-size: 36px;
        }
        input.action {
          
        }
      }
    }
    .action {
      display: inline-block;
      background-color: $purple;
      color: white;
      opacity: 0.8;
      text-align: center;
      padding: 20px;
      font-size: 48px;
      line-height: 50px;
      font-weight: 100;
      border-radius: 10px;
      font-family: $lightFont;
      margin-top: 60px;
      width: 380px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        text-decoration: none;
        color: $purple;
        background-color: white;
      }
    }
  }
} // .page3