// Fonts
@import url("http://fonts.googleapis.com/css?family=Lato");

$primaryFont: 'Lato', Helvetica, Arial, sans-serif;
$lightFont: 'Helvetica Neue';

// Colors

$purple: #aa4d9d;
$pink: #eedbeb;
$gray: #acacac;
