.page2 {
  padding: 30px;
  @include full-background('videos-bg.jpg');
  height: 100%;
  h2 {
    text-align: center;
    font-size: 36px;
    margin: 70px 0 30px;
    &:before, &:after {
      content: " ";
      border-bottom: 1px solid white;
      line-height: 0.1em;
      margin: 10px 10px 7px;
      display: inline-block;
      width: 36%;
    }
  }
} // .page2