@import "typography";
@import "reset";
@import "mixins";
@import "page-scroll";
//= require_self

body {
  .container {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }
  .text-center {
    text-align: center;
  }
  nav.hidden-nav {
    display: none;
    position: absolute;
    top: 0;
  }
  header.site-head {
    text-align: center;
    padding: 10px 0;
    .info {
      position: absolute;
      right: 0;
      top: 45px;
      .simple-btn {
        border: 2px solid $purple;
        color: $purple;
        padding: 15px;
        border-radius: 6px;
        font-size: 22px;
        display: inline-block;
        &:hover {
          text-decoration: none;
          background-color: $purple;
          color: white;
        }
      }
      p.small {
        font-size: 12px;
        margin-top: 10px;
        a {
          color: $gray;
          text-decoration: underline;
          margin-left: 8px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  } // header.site-head
  ul.onepage-pagination {
    z-index: 100;
    li a:before {
      background-color: white;
    }
    li a.active:before {
      border: 1px solid white;
    }
  } // ul.onepage-pagination
  #main.content {
    position: relative;
    z-index: 10;
    .page-title {
      font-size: 26px;
      line-height: 30px;
      font-weight: 300;
    }
    @import "home-page";
    @import "videos-page";
  } // section.content
  footer.site-foot {
    
  }
}