@import "typography";
@import "reset";
@import "mixins";
//= require_self

.basic-head {
  background-color: white;
  clear: both;
  height: 100px;
  text-align: center;
  .info.pull-right {
    position: absolute;
    right: 0;
    top: 35px;
    p.small {
      font-size: 12px;
      margin-top: 10px;
      a {
        color: $gray;
        text-decoration: underline;
        margin-left: 8px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .simple-btn {
    border: 2px solid $purple;
    color: $purple;
    padding: 15px;
    border-radius: 6px;
    font-size: 22px;
    display: inline-block;
    margin-top: 20px;
    &:hover {
      text-decoration: none;
      background-color: $purple;
      color: white;
    }
  }
  .logo.pull-left {
    position: absolute;
    left: 0;
    top: 20px;
  }
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
body.e404 {
  @include full-background('404-bg.jpg');
  section.content {
    position: relative;
    z-index: 1;
    min-height: 600px;
    .error-box {
      background-color: rgba(170, 77, 157, 0.7);
      color: white;
      padding: 30px;
      width: 360px;
      height: 180px;
      position: absolute;
      left: 0;
      top: 50%;
      h1 {
        font-size: 100px;
        font-weight: 100;
        font-family: $lightFont;
        line-height: 102px;
        margin-bottom: 15px;
      }
      p {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}

body.e500 {
  
}